<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Quiz Bowl</h4><span id="difficultyLevel">Difficulty Level: 200/1000</span><span id="questionNumber">(1 of 20)</span>
                    </div>
                </div>
                <div class="question bg-white p-5 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title" style="margin-left: 210px;">
                        <h3 class="text-danger">Q.</h3><table><tr><th id="currentQuestion"><h5>Which of the following country has largest population?</h5></th></tr></table>
                    </div><br><br>
                    <div class="ans ml-2" style="text-align:center;">
                        <label class="text" > <input type="text" name="attempt" placeholder="Type Answer Here" style="text-align:center; height:50px; width:700px;"> 
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white" style="margin-left: 450px;"><button class="btn btn-primary border-success align-items-center btn-success" type="button" >Submit Answer<i class="fa fa-angle-right ml-2" ></i></button></div>
            </div>
        </div>
    </div>
</div>