<section class="vh-100" style="background-color: #eee;">
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border"><br><br><br>
<!-- <div *ngIf ="showButtonSelectNoTeams">
    <button (click)="setNumTeams(num.value)" class="btn btn-secondary" style="margin-right: 15px;">Enter number of teams</button>
    <input type="number" id="num" #num placeholder="Enter number of teams">
</div>
<br>
<br>
<div *ngIf = "showNameSelectors">
    
        
        <div *ngFor="let _ of [].constructor(numTeams); let ind = index;"> Select name for Team {{ind+1}}  <input type="text"> <br> <br></div>
        <input type = "submit" class = "forsubmit" value = "Start Game">
   
</div> -->

<form *ngIf = "showFormTeamNames" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    
    Team 1: <input formControlName=0  placeholder="Enter Team Name"> <br><br>
    Team 2: <input formControlName=1  placeholder="Enter Team Name"> <br><br>
    Team 3: <input formControlName=2  placeholder="Enter Team Name"> <br><br>
    Team 4: <input formControlName=3  placeholder="Enter Team Name"> <br><br><br><br>
    Number of Questions: <input formControlName=4  placeholder="Enter Number of Questions"> <br><br>
         <button type="submit" class="btn btn-secondary">Submit</button>
 </form> 

 <!-- ==================================== -->
 <div *ngIf = "currentQuiz<=numQuizzes && !showFormTeamNames && !declareWinner">
 <button  [disabled]="disableBtnGetQ" (click)="getRandomQuestion()" class="btn btn-secondary">Get a Question</button>
</div>
 <br><br><br>
 <div *ngIf = "currentQuiz<=numQuizzes && !showFormTeamNames  && !declareWinner"><h1> {{q}}</h1></div><br>
 <div *ngIf = "showAnswer  && !declareWinner"><h1>The Answer Is: {{currentAnswer}}</h1></div>
 <br><br>

 <p *ngIf = "currentQuiz<=numQuizzes && !showFormTeamNames  && !declareWinner">Quizz {{currentQuiz}} of {{numQuizzes}}</p>

 <form *ngIf = "currentQuiz<=numQuizzes && !showFormTeamNames  && !declareWinner" [formGroup]="answerForm" (ngSubmit)="onSubmitAnswers()">
    
    {{teams[0].name}}: <input formControlName=1  placeholder="Enter Answer"> <br><br>
    {{teams[1].name}}: <input formControlName=2  placeholder="Enter Answer"> <br><br>
    {{teams[2].name}}: <input formControlName=3  placeholder="Enter Answer"> <br><br>
    {{teams[3].name}}: <input formControlName=4  placeholder="Enter Answer"> <br><br>
         <button [disabled]="disableBtnSubmitAns" type="submit" class="btn btn-secondary">Submit</button>
 </form> 

 <table style="margin-left:auto;margin-right:auto;" cellpadding="7"  *ngIf = "!showFormTeamNames && currentQuiz<=numQuizzes">
    <tr>
      <th>Team Name</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>{{t1.name}}</td>
      <td>{{t1.score}}</td>
    </tr>
    <tr>
        <td>{{t2.name}}</td>
        <td>{{t2.score}}</td>
    </tr>
    <tr>
        <td>{{t3.name}}</td>
        <td>{{t3.score}}</td>
    </tr>
    <tr>
        <td>{{t4.name}}</td>
        <td>{{t4.score}}</td>
    </tr>
  </table>

  <div *ngIf = "declareWinner"><h1>{{winnerMessage}}</h1>
    <br>
    <br>
      <button (click)="startNewGame()" class="btn btn-secondary">Start New Qizz Game</button>
  </div>

</div>
</div>
</div>
</div>
</section>