<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ48OCnIOFMVAlHvM45_tZA2XxJxE0ncNT3Cg&usqp=CAU" height="40px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="true" routerLink="login">Existing User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="true" routerLink="test">JService API Test Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="true" routerLink="register">Create New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="true" routerLink="game-mode">Game-Mode Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="true" routerLink="practice-mode">Practice-Mode Component</a>
          </li>
          <button style="position:absolute; right: 0; margin-right: 15px;" class="btn btn-danger navbar-btn">Logout</button>
          
        </ul>
      </div>
    </div>
  </nav>