<mat-toolbar color="primary" class="mat-elevation-z8">

  <span><a href="#" style="color:white; text-decoration: none;"><mat-icon>question_answer</mat-icon>QUIZ BOWL</a></span>

  <div class="spacer"></div>

  <a mat-button routerLinkActive="true" routerLink="game-mode" *ngIf= "userLoggedIn()" >Main Game</a>

  <!--<a mat-button routerLinkActive="true" routerLink="test" *ngIf= "userLoggedIn()" >JService API Test Page</a>-->
  <a mat-button routerLinkActive="true" routerLink="qmaster" *ngIf= "userLoggedIn()" >Quiz Master</a>

  <a mat-button routerLinkActive="true" routerLink="practice-mode" *ngIf= "userLoggedIn()" >Practice-Mode</a>

  <a mat-button routerLinkActive="true" routerLink="update-user" *ngIf= "userLoggedIn()" ><mat-icon>update</mat-icon>Update-User</a>

  <a mat-button routerLinkActive="true" routerLink="statistics" *ngIf= "userLoggedIn()" >Stats</a>

  <a mat-button routerLinkActive="true" routerLink="login" *ngIf= "!userLoggedIn()" ><mat-icon>login</mat-icon>Login</a>

  <a mat-raised-button color="accent" routerLinkActive="true" routerLink="register" *ngIf= "!userLoggedIn()">Sign Up</a>

  <button  class="btn btn-danger navbar-btn" *ngIf= "userLoggedIn()" (click)="logOut()">Logout</button>

</mat-toolbar>
