
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Player Mode</title>
</head>
<body>
    <br>
    <br> 
    <div>
        <table "col-sm-2">
            <tr>
                <form id = "myForm"> <!--needs to auto-recommend categories-->
                    <th><label>Category 1:</label></th>
                    <th><label>Category 2:</label></th>
                    <th><label>Category 3:</label></th>
                    <th><label>Category 4:</label></th>
                    <th><label>Category 5:</label></th>
                </form>
            </tr>
            <tr>
                <td>200</td>
                <td>200</td>
                <td>200</td>
                <td>200</td>
                <td>200</td>
            </tr>
            <tr>
                <td>400</td>
                <td>400</td>
                <td>400</td>
                <td>400</td>
                <td>400</td>
            </tr>
            <tr>
                <td>600</td>
                <td>600</td>
                <td>600</td>
                <td>600</td>
                <td>600</td>
            </tr>
            <tr>
                <td>800</td>
                <td>800</td>
                <td>800</td>
                <td>800</td>
                <td>800</td>
            </tr>
            <tr>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
            </tr>
        </table>
    </div>
    <div>
        <span><input type = "submit" form = "myform" value = "Generate"></span>
        <span><input type = "submit" form = "tbd" value = "Score"></span> <!--needs to turn blank until all questions are submitted-->
    </div>
</body>
</html>
