<h1>Stats for user: {{currentUser.username}}</h1>
<br>
<br>
<table class = "table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Easiest Correct %</th>
            <th>Easy Correct %</th>
            <th>Medium Correct %</th>
            <th>Hard Correct %</th>
            <th>Hardest Correct %</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stat of currentUser.userStats">
            <td>{{stat.categoryName}}</td>
            <td>{{stat.easiestCorrect}} / {{stat.easiestAttempted}}</td>
            <td>{{stat.easyCorrect}} / {{stat.easyAttempted}}</td>
            <td>{{stat.mediumCorrect}} / {{stat.mediumAttempted}}</td>
            <td>{{stat.hardCorrect}} / {{stat.hardAttempted}}</td>
            <td>{{stat.hardestCorrect}} / {{stat.hardestAttempted}}</td>
        </tr>
    </tbody>
</table>